/* Page de style */
 
html{ 
    font-size: 20px; 
	background-color:white;
	cursor:crosshair;
}

body{
    margin: 0 auto;	
}

header{
	margin:2rem;
	width:100%;
    height: 300px;
    background-image: url('images/IMG_4331.PNG');
	font-size: 1.5rem;
	text-align:center;
    color: white;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
    text-align:center;
	font-weight:bold;
}


footer{
	width:100%;
    margin: 2rem;
	font-size:0.75rem;
	color:white;
	border:1px solid #000;
	background-color: #0489B1;
	height: 200px;
}

.titre{
	position:relative;
	top:100px;
}
	
.images{
	text-align:center;
}

.IDG_img{
	position:relative;
	bottom:125px;
	text-align:center;
}

.liens{
	line-height:40px;
	position:relative;
	left:50px; top:20px;
}


/*index*/

#index{
	width:70%;
	margin: 0 auto;
}

.header_index{
	position:relative;
	top:230px
}

.body_index{
	
	position:relative;
	bottom:270px;
}

.Logo_moteurs{
	text-align:center;
	position:relative;
	left:200px; top:300px;
}

.menu{
	border: 6px double red;
	position:relative;	
}

.sommaire{
	list-style-type: none;
}	

.présentation{
	position:relative;
}

.contenu_index{
	position:relative;
	line-height:40px
}

.frise{
	position:relative;
	left:200px;
}
.anecdote{
	position:relative;
	right:150px;
}
	

.footer_index{
	position:relative;
	top:400px;
}



/*CV*/

.header_cv{
	position:relative;
	bottom:50px;
}

.body_cv{
	border:4px double Black;
	width:50%;
	margin: auto;
	position:relative;
	left:50px;
}

.pp{
	position:relative;
	left:350px; 
}

.Nom{
	position:relative;
	bottom:100px;
}

.contenu_cv{
	position:relative;
	bottom:200px;
}

.footer_cv{
	position:relative;
	top:50px;
}

/*Sources*/

.header_sources{
	position:relative;
	bottom:50px;
}

.body_sources{
	width:70%;
	margin:auto;
	position:relative;
}

.footer_sources{
	position:relative;
	top:50px;
}
	