body 
{
	background-image: url("images/fond4.jpg");
}

h1
{ 
font-size: 40px;
color : blue;
text-align:center
}

h2
{
    color : red;
    background-color:white;
    text-align:center
}

p
{
	text-align:center;
}

h3
{
	
}

div {
  text-align: center;
}