h1
{
font-size: 30px;
text-align: center;
}



div
{
text-align: center;
}



body
{
font-family: Bahnschrift Light Condensed, Bahnschrift;
font-size: large;
width: 70%;
margin: 0 auto; 
}



h2
{
font-size: x-large;
}


footer
{
text-align: center;
}