/* Page de style */
 
html{ 
    font-size: 20px; 
}

header
{
    height: 500px; /* hauteur du header à changer en fonction de la photo choisi */
    background-image: url('images/AlanTuring.jpg');
    text-align:center;
    color: white;
    font-weight: bold;
}

body{
	background-color: black;
	color: white;
    width: 70%;
    margin: 0 auto; 
}

h1{
    font-size: 2rem;
	color: lime;
	text-align: center;
}

h2{
    font-size: 1.5rem;
	color: aqua;
}

p#eleve{
    font-size: 1.5rem;
}
p{
	color: pink;
}
.img{
	text-align: center;
}
h3{
	color: white;
}
h4{
	color: black;
}